
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body{
  background:url('https://images.pexels.com/photos/3337211/pexels-photo-3337211.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
  min-height:100vh;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.formDiv{
  color:white;
  width:420px;
  border-radius:10px;
  padding:40px 40px;
  border:2px solid rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  
}

.formDiv h1{
  font-size:36px;
  text-align:center;
}
.formDiv .inputForm{
  position:relative;
  width:100%;
  height:50px;
  margin:30px 0;
  
}
.inputForm input{
  background:transparent;
  color:white;
  font-size:16px;
  width:100%;
  height:100%;
  border:none;
  outline:none;
  border-radius:40px;
  border:2px solid rgba(255,255,255,.2);
  padding: 20px 45px 20px 20px;

}
.inputForm input::placeholder{
  color:white;
}
.inputForm input:focus{
  border-color:#ff66a3;
}


.inputForm i{
  position:absolute;
  font-size:20px;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  
}

#emailError,
#pwdError {
  color: #ff0066;
  font-style:italic;
}

.formDiv .rememberMe{
  display:flex;
  justify-content:space-between;
  font-size:14.5px;
  margin : -15px 0 15px;
  margin-top:20px;
  padding-top:10px;
  
}
.rememberMe label input{
  color:white;
  margin-top:3px;
}
.rememberMe a{
  color:white;
  text-decoration:none;
  
}
.rememberMe a:hover{
  text-decoration:underline;
  
}
.formDiv .btnSubmit{
  width:100%;
  height:45px;
  background-color:white;
  font-size:16px;
  color:gray;
  font-weight:600;
  border:none;
  outline:none;
  border-radius:40px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  cursor:pointer;
}

.btnSubmit:hover{
  background-color:#ff66a3;
  color:white;
}

